@font-face{font-family:'Noto Sans JP';font-weight:500;src:url('NotoSansJP-500.woff2') format('woff2');}
@font-face{font-family:'Noto Sans JP';font-weight:700;src:url('NotoSansJP-700.woff2') format('woff2');}
@font-face{font-family:'Noto Sans JP';font-weight:900;src:url('NotoSansJP-900.woff2') format('woff2');}
@font-face{font-family:'Inter';font-weight:700;src:url('Inter-700.woff2') format('woff2');}
@font-face{font-family:'Inter';font-weight:900;src:url('Inter-900.woff2') format('woff2');}
